.wrapper{
    height: 100vh;
    background: linear-gradient(322deg, rgba(0,171,231,1) 0%, rgba(0,157,212,1) 30%, rgba(0,142,192,1) 48%, rgba(0,129,175,1) 100%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}